@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sen", sans-serif;
    font-size: 62.5%;
    background-color: #F7EFE5;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: var(--header-color);
    z-index: 100;
    padding: 0 60px;
}

.header__logo p {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 800;
}

.header__logo p:hover {
    cursor: pointer;
}

.header__navbar {
    display: flex;
}

.header__navbar li {
    display: block;
    font-size: 1rem;
    font-weight: 400;
}

.header__navbar li a {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 0 12px;
    line-height: 60px;
}

.header__navbar li:hover a{
    cursor: pointer;
    background-color: #F9E6CF;
    color: var(--hover-color);
}

.container {
    padding-top: 60px;
    margin: 0 auto;
    width: 80vw;
}


.container .container__identify {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    gap: 100px;
    padding-bottom: 60px;
}

.container .identify__img img {
    width: 600px;
    border-radius: 50%;
    float: left;
}

.container .identify__content {
    line-height: 1.5;
}

.identify__content h2 {
    font-size: 6rem;
    font-weight: 800;
}

.identify__content h2 span {
    color: var(--hover-color);
}

.identify__content #identify__title {
    font-size: 3rem;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 10px;
    color: var(--hover-color);
}

.identify__content #identify__about {
    font-size: 1.6rem;
}

.projects__title {
    
}

.projects__title p {
    font-size: 1.8rem;
    font-weight: 800;
}

