@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sen", sans-serif;
    font-size: 62.5%;
    background-color: #F7EFE5;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: var(--header-color);
    z-index: 100;
    padding: 0 60px;
}

.header__logo p {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 800;
}

.header__logo p:hover {
    cursor: pointer;
}

.header__navbar {
    display: flex;
}

.header__navbar li {
    display: block;
    font-size: 1rem;
    font-weight: 400;
}

.header__navbar li a {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 0 12px;
    line-height: 60px;
}

.header__navbar li:hover a{
    cursor: pointer;
    background-color: #F9E6CF;
    color: var(--hover-color);
}

.container {
    padding-top: 60px;
    margin: 0 auto;
    width: 80vw;
    height: 100vh;
}



